@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: 'Maken';
  src: url('/fonts/maken.ttf') format('truetype');
  font-weight: 800; 
  font-style: normal;
}

@font-face {
  font-family: 'paradise';
  src: url('/fonts/paradise.otf') format('opentype');
  font-weight: 800; 
  font-style: normal;
}

@font-face {
  font-family: 'AnimeBrush';
  src: url('/fonts/Road_Rage.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.maken {
    font-family: 'Maken', sans-serif;
}

.paradise {
  font-family: 'paradise', sans-serif;
}

.anime{
  font-family: 'AnimeBrush', sans-serif;
}
