@import "tailwindcss";

:root {
  --secondary-color: #D93444
}

@font-face {
  font-family: 'Glimor';
  src: url('/fonts/glimor-bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "rugen";
  src: url('/fonts/RugenExpanded.ttf') format('truetype');
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.header-font {
  font-family: 'Glimor', sans-serif;
}

.page-font {
  font-family: 'rugen', sans-serif;
}

.secondary {
  color: var(--secondary-color);
}

.hover\:secondary:hover {
  color: var(--secondary-color);
}

.border-secondary{
  border-color: var(--secondary-color);
}

.container {
  margin: auto;
  max-width: 1280px;
}

